/*分页*/
.tp5-o2o .pagination li {
    display: inline;
    padding-left: 10px;
}

.pagination .active {
    color: red
}

.pagination .disabled {
    color: #888888
}

/*!*商户简介*!*/
/*.bis_introduction {*/
    /*width: 80%;*/
    /*height: 300px;*/
/*}*/

/*!*门店信息*!*/
/*.store_information {*/
    /*width: 80%;*/
    /*height: 300px;*/
/*}*/

/*script信息输入框(团购|商户简介|门店信息)*/
.information{
    width: 80%;
    height: 300px;
}