<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('category/index')}" data-title="生活服务分类" href="javascript:void(0)">生活服务分类</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe613;</i> 商家管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('bis/index')}" data-title="商家列表" href="javascript:void(0)">商户列表</a></li>
					<li><a _href="{:url('bis/apply')}" data-title="商家入驻申请" href="javascript:void(0)">商家入驻申请</a></li>
					<li><a _href="{:url('bis/dellist')}" data-title="删除的商户" href="javascript:void(0)">删除的商户</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe613;</i> 门店管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('store/index')}" data-title="门店列表" href="javascript:void(0)">门店列表</a></li>
					<li><a _href="{:url('store/apply')}" data-title="门店入驻申请" href="javascript:void(0)">门店入驻申请</a></li>
					<li><a _href="{:url('store/dellist')}" data-title="删除的门店" href="javascript:void(0)">删除的门店</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 团购商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('deal/apply')}" data-title="商家团购提交" href="javascript:void(0)">商家团购提交</a></li>
					<li><a _href="{:url('deal/index')}" data-title="团购列表" href="javascript:void(0)">团购列表</a></li>
					
				</ul>
			</dd>
		</dl>
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 推荐位管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{:url('featured/add')}" data-title="添加推荐位内容" href="javascript:void(0)">添加推荐位内容</a></li>
					<li><a _href="{:url('featured/index')}" data-title="推荐位列表" href="javascript:void(0)">推荐位列表</a></li>
					
				</ul>
			</dd>
		</dl>


		
	</div>
</aside>